.b-order
  color $c-light
  margin 0 auto

  &__description
    margin-bottom 20px

  &__content
    margin-bottom 20px

  &__title
    font-size $h1-font-size
    text-align center
    margin-bottom 20px

  &__place
  &__time
    font-size $h2-font-size

  &__manager
  &__money
    font-size: $h4-font-size

  &__row
    display flex
    justify-content space-between

    &:not(:first-child)
      margin-top: 5px

  &__actions
    display flex
    justify-content space-between
    align-items center

    .button
      width 50%
      min-width 0
      line-height 1.2
      padding 10px

      &:not(:first-child)
        margin-left: 30px
