.b-order
  color: $c-light
  max-width 420px
  margin: 0 auto

  &__description
    margin-bottom: 20px

  &__content
    margin-bottom: 20px

  &__title
    font-size 2.2rem
    font-weight 700
    text-align center
    margin-bottom 20px

  &__item
    &:not(:first-child)
      margin-top: 10px

  &__person
  &__phone
  &__sum
    color: $c-dark

  &__person
    font-size: 16px

  &__phone
  &__sum
    font-size: 14px

  &__wrapper
    cursor: pointer
    padding: 10px
    box-shadow 1px 1px 5px 0 rgba($bs-dark,.5)
    background $bg-light
    transition box-shadow .2s ease-out

    &:hover
      box-shadow 1px 1px 8px 0 rgba($bs-dark,.5)

  &__summary
    padding: 20px
    background: $bg-light;
    display: none

  &__info
    display: flex

    &:not(:first-child)
      margin-top: 10px
      border-top: 1px solid rgba($bs-dark,.5)

  &__dish
  &__amount
    color: $bg-dark
    font-size: 14px
    margin-left: auto

  &__row
    display: flex
    justify-content: space-between

    &:not(:first-child)
      margin-top: 5px


  &__checkbox
    display none

    &:checked + .b-order__checkbox-text:after
      position absolute
      top 0
      bottom 2px
      margin auto 0
      left 3px
      width 6px
      height 3px
      border-left 1px solid $bg-dark
      border-bottom 1px solid $bg-dark
      transform-origin center
      transform rotate(-45deg)
      content ''

  &__checkbox-label
    font-weight 400
    cursor pointer

  &__checkbox-text
    font-size 1.4rem
    position relative
    display block
    width: 30px
    height: 30px

    &:before
      position absolute
      left 0
      top 0
      bottom 0
      margin auto 0
      width 12px
      height 12px
      border 1px solid $bg-dark
      background #fff
      content ''

  &__actions
    display: flex
    justify-content: space-between
    align-items: center

    .button
      width: 50%
      min-width 0
      line-height: 1.2
      padding: 10px

      &:not(:first-child)
        margin-left: 30px
