.b-portion
  color $c-light

  &:not(:last-child)
    margin-bottom: 20px;

  &__row
    display flex
    justify-content space-between

  &__text
    font-size $h4-font-size
    color $bg-dark

  &__cost
    font-size $h5-font-size
    color $bg-dark
