.b-portion
  color $c-light

  &:not(:last-child)
    margin-bottom: 20px;

  &__row
    display flex
    align-items center
    font-size 0

  &__text
    font-size $h4-font-size
    color $bg-dark
    margin-right 12px

  &__cost
    font-size $h5-font-size
    color $bg-dark
    margin-right auto

  &__remove-btn
    width 32px
    height 32px
    position relative
    padding 0
    margin-right 8px

    &:before
      transform rotate(45deg)
    &:after
      transform rotate(-45deg)
    &:before
    &:after
      position absolute
      content ''
      display block
      left 0
      top 0
      bottom 0
      right 0
      width 18px
      height 2px
      background $orange
      margin auto
      transform-origin center

    &._disabled
      &:before
      &:after
        background $grD
        cursor not-allowed
