.button
  line-height 4rem
  text-align center
  width 100%
  max-width 480px
  margin 0 auto
  display block
  font-size 1.6rem
  font-weight 700
  min-width 240px
  padding 0 15px
  box-shadow 1px 1px 5px 0 rgba(#000,.5)
  transition box-shadow .2s ease-out, background .2s ease-out
  text-transform uppercase

  &:hover
    box-shadow 1px 1px 8px 0 rgba(#000,.5)

  &_submit
    background #00A8DF
    color #fff
    text-decoration none

    &:hover
      background rgba(#00A8DF,.8)
