.form
  &__row
    margin-bottom: 10px

  &__title
    font-size: 22px
    font-weight: 700
    text-align: center
    margin-bottom: 20px

  &__label-text
    font-weight: 700
    color #000
    font-size: 14px
    margin-bottom: 4px
    display: block

  &__field
    display: block
    width: 100%
    border 1px solid #dadada
    padding 0 10px
    height: 36px

