.form
  &__row
    margin-bottom: 10px

  &__label-text
    font-weight: 700
    color #000
    font-size: 14px

  &__field
    display: block
    width: 100%
    border 1px solid #dadada
    padding 0 10px
    height: 36px

