.order-preview
  text-decoration: none
  &__row
    display: flex
    padding: 10px
    justify-content space-between

  &__time
  &__place
    font-weight: 700
    font-size: 16px
    color #000

  &__manager
  &__amount
    font-weight: 400
    font-size: 14px
    color #000
