.order-list
  max-width 480px
  margin 0 auto 20px
  &__item
    margin-bottom: 10px
    box-shadow 1px 1px 5px 0 rgba(#000,.5)
    background #fff
    transition box-shadow .2s ease-out
    &:hover
      box-shadow 1px 1px 8px 0 rgba(#000,.5)
