.order-preview
  background: #f66;
  &__row
    &:after
      content: ''
      display: table
      clear: both
  &__place
    margin: 0
  &__time
    float: right
  &__manager
    margin: 0
  &__amount
    float: right
