.portion-list
  max-width 480px
  margin 0 auto 20px

  &__item
    margin-bottom 10px
    box-shadow 1px 1px 5px 0 rgba($b,.5)
    background $w
    transition box-shadow .2s ease-out

    &:hover
      box-shadow 1px 1px 8px 0 rgba($b,.5)

  &__row
    display flex
    padding 10px
    justify-content space-between

  &__member
  &__cost
  &__paid
    font-weight 700
    font-size 1.6rem
    color $b

