.portion-list
  max-width 480px
  margin 0 auto 20px

  &__item
    margin-bottom: 10px
    box-shadow 1px 1px 5px 0 rgba(#000,.5)
    background #fff
    transition box-shadow .2s ease-out

    &:hover
      box-shadow 1px 1px 8px 0 rgba(#000,.5)

  &___row
    display flex
    padding 10px
    justify-content space-between

  &__member
    font-weight 400
    font-size 1.4rem
    color #000

  &__cost
  &__paied
    font-weight 700
    font-size 1.6rem
    color #000

