.tabs-list
  display flex
  flex-wrap nowrap
  max-width 480px
  margin 0 auto 20px
  box-shadow 1px 1px 5px 0 rgba($bs-dark,.5)

  &__item
    flex-grow 1

  &__link
    line-height 4rem
    background grey
    font-weight 700
    font-size 14px
    text-transform uppercase;
    text-decoration none
    text-align center
    color $c-light
    display block
    width 100%

    &_active
      background $bg-action
