.vendors
  margin 0 auto
  overflow-y auto
  max-height calc(100vh - 100px)

  @media $min768
    &::-webkit-scrollbar
      width 6px
    &::-webkit-scrollbar-track
      border-radius 0
    &::-webkit-scrollbar-thumb
      border-radius 0
      background $bg-primary
    &::-webkit-scrollbar-thumb:window-inactive
      background $bg-primary

  @media $max767portrait
    max-height calc(100vh - 70px)

  &__item
    box-shadow 1px 1px 5px 0 rgba($bs-dark,.5)
    background $bg-light
    transition box-shadow .2s ease-out
    padding 15px
    &:not(:first-child)
      margin-top 10px

    &:hover
      box-shadow 1px 1px 8px 0 rgba($bs-dark,.5)

  &__info
    display flex
    align-items baseline
    margin-bottom 10px

  &__title
    font-size 1.8rem

  &__cost
    margin-left auto
    font-size 1.2rem

  &__link
    font-size 1.4rem
    color $c-dark
