<div class="b-order-group__wrapper">
  <div class="b-order-group__row">
    <span class="b-order-group__person">{{owner.displayName}}</span>
    {{b-checkbox class="b-order-group__checkbox" checked=allPaid onchange=(action 'toggleAll') }}
  </div>

  <div class="b-order-group__row">
    <span class="b-order-group__phone">тел.: {{owner.phone}}</span>
  </div>
</div>

<ul class="b-order-group__summary">
  {{#each portions as |portion|}}
    {{b-portion portion=portion}}
  {{/each}}
</ul>
