<div class="b-order">
  <h1 class="b-order__title">Информация о заказе</h1>

  {{b-order-description order=order}}

  <ul class="b-order__content">
    {{#each groupedPortions as |group|}}
      {{b-order-group order=order portions=group.list owner=group.grouper}}
    {{/each}}
  </ul>

  <div class="b-order__actions">
    <button {{action "toggleActiveState"}} class="button _submit">
      {{#if order.active}}Перейти к оформлению{{else}}Отменить<br>заказ{{/if}}
    </button>
    {{#link-to 'checkout' order.id class="button _submit"}}
      Уведомить пользователей
    {{/link-to}}
  </div>
</div>

{{#link-to "new-portion-order" order.id aria-label="add new portion" class="btn-new-order"}}{{/link-to}}
