<div class="b-order-group__wrapper">
  <div class="b-order-group__row">
    <div class="b-order-group__person">
      <span class="b-order-group__person-name">{{owner.displayName}}</span>
      <span class="b-order-group__person-phone">{{owner.phone}}</span>
    </div>
    {{b-checkbox class="b-order-group__checkbox" checked=allPaid onchange=(action 'toggleAll') }}
  </div>
</div>

<ul class="b-order-group__summary">
  {{#each portions as |portion|}}
    {{b-portion portion=portion}}
  {{/each}}
</ul>
