<form class="f-default f-checkout">

  <h2 class="f-default__title f-checkout__title">Отправить уведомление</h2>

  <div class="b-order">
    {{b-order-description order=order}}
  </div>

  <div class="f-default__wrapper">
    {{b-textarea model=this valuePath='message' rows='4' placeholder='Введите сообщение'}}
  </div>

  <button {{action 'submit'}} type="submit" class="button _submit">Отправить уведомление</button>
</form>
