<form class="f-default f-vendor">

  <h2 class="f-default__title">Новый поставщик</h2>

  <div class="f-default__wrapper">
    {{b-input model=this placeholder='Название' valuePath='title' }}
    {{b-input model=this placeholder='Сайт' valuePath='url' }}
    {{b-input model=this placeholder='Минимальная сумма заказа' valuePath='minOrderCost' }}
  </div>

  <button {{action "submit"}} type="submit" class="button _submit">Добавить</button>
</form>
