<form class="form join-order-form">

  <h2 class="form__title">Добавить к заказу</h2>

  <div class="form__row">
    <span class="join-order-form__place">pzz.by</span>
    <span class="join-order-form__time">16:00</span>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">* Имя:</span>
      <input type="text" class="form__field" required/>
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">* Телефон:</span>
      <input type="tel" class="form__field" required/>
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">* Заказ:</span>
      <textarea class="form__textarea" rows="4" required></textarea>
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">* Сумма:</span>
      <input type="tel" class="form__field" required/>
    </label>
  </div>

  <button type="submit" class="button button_submit">Добавить</button>
</form>
