<div class="order order_preview">
  <div class="order__delivery-name">{{order.attributes.organizerName}}</div>
  <div class="order__time">{{order.attributes.orderTime}}</div>
  <div class="order__manager">{{order.attributes.manager}}</div>
  <div class="order__money">{{order.attributes.moneyRequired}}</div>
</div>
