<a href="#" class="order-preview">
    <div class="order-preview__row">
        <div class="order-preview__place">{{order.attributes.place}}</div>
        <time class="order-preview__time">{{order.attributes.orderTime}}</time>
    </div>
    <div class="order-preview__row">
        <div class="order-preview__manager">{{order.attributes.manager}}</div>
        <div class="order-preview__amount">{{order.attributes.amount}}</div>
    </div>
</a>
