<ul class="tabs-list">
  <li class="tabs-list__item">
    {{#link-to 'orders.index' class="tabs-list__link" activeClass="tabs-list__link_active"}}Все{{/link-to}}
  </li>
  <li class="tabs-list__item">
    {{#link-to 'orders.active' class="tabs-list__link" activeClass="tabs-list__link_active"}}Активные{{/link-to}}
  </li>
  <li class="tabs-list__item">
    {{#link-to 'orders.inactive' class="tabs-list__link" activeClass="tabs-list__link_active"}}Неактивные{{/link-to}}
  </li>
</ul>
