<ul class="tabs-list">
  <li class="tabs-list__item">
    {{#link-to 'orders.index' class="tabs-list__button"}}Все{{/link-to}}
  </li>
  <li class="tabs-list__item">
    {{#link-to 'orders.active' class="tabs-list__button"}}Активные{{/link-to}}
  </li>
  <li class="tabs-list__item">
    {{#link-to 'orders.inactive' class="tabs-list__button"}}Неактивные{{/link-to}}
  </li>
</ul>
