<div class="pr-vendor-option">
  <div class="pr-vendor-option__title">{{data.title}}</div>
  {{#if data.minOrderCost}}
    <div class="pr-vendor-option__min-cost">
      Минимальная сумма заказа {{data.minOrderCost}}
    </div>
  {{/if}}
</div>
