<ul class="tabs-list">
  <li class="tabs-list__item">
    <button class="tabs-list__button tabs-list__button_active">Все</button>
  </li>
  <li class="tabs-list__item">
    <button class="tabs-list__button">Активные</button>
  </li>
  <li class="tabs-list__item">
    <button class="tabs-list__button">Неактивные</button>
  </li>
</ul>
