<label class="f-default__label">
  {{input type=type value=value name=valuePath class="f-default__field" placeholder=placeholder focusOut=(action 'validateField')}}
</label>
{{#if showMessage}}
  <span class="has-error">{{v-get model valuePath 'message'}}</span>
{{/if}}
