.f-default
  color $c-light
  margin 0 auto 20px

  &__wrapper
    border-radius 3px
    background $bg-light
    padding 2px 10px
    margin-bottom 10px

  &__row
    position relative

    &:not(:first-child)
      &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        border-top 1px solid rgba($bg-dark,.33)

  &__title
    font-size $h1-font-size
    text-align center
    margin-bottom 20px

  &__label
    font-weight 700
    color $c-dark
    font-size $h5-font-size
    margin-bottom 4px
    display block

  &__error
    float left
    margin-top -(x = 1rem)
    font-size x
    color red

  &__field
    display block
    width 100%
    border none
    padding 0 10px
    height 3.6rem
    font-size $h5-font-size
    color $c-dark
    background transparent

    &:focus
      outline none

    &::placeholder
      font-size $h5-font-size
      color rgba($c-dark,.33)

  &__textarea
    display block
    width 100%
    border none
    padding 5px 10px
    resize none
    font-size $h5-font-size

    &:focus
      outline none

    &::placeholder
      font-size $h5-font-size
      color rgba($c-dark,.33)

