.f-login
  &__button
    margin-bottom 20px

  &__link
    display block
    color $c-light
    text-align center

  &__social
    margin-top 20px
    font-size $h5-font-size

    &-link
      text-decoration none
