.f-order

  &__vendor-link
    margin-bottom -10px;
    display inline-block;

  &__vendor-link
  &__vendor-min-cost
    color $c-dark
    line-height 3.6rem
    padding 0 10px

  &__vendor-link
    font-size $h5-font-size

  &__vendor-min-cost
    font-size $h6-font-size
