<ul class="food-vendors">
  {{#each model as |vendor|}}
    <li class="food-vendors__item">
      {{vendor.title}}
      <a href="{{vendor.url}}" _target="blank"
         class="food-vendors__link">{{vendor.url}}</a>
    </li>
  {{/each}}
</ul>
