<ul class="vendors">
  {{#each model as |vendor|}}
    <li class="vendors__item">
      <div class="vendors__info">
        <span class="vendors__title">{{vendor.title}}</span>
        <span class="vendors__cost">Минимальная сумма заказа {{vendor.minOrderCost}}</span>
      </div>
      <a href="{{vendor.url}}" target="_blank"
         class="vendors__link">{{vendor.url}}</a>
    </li>
  {{/each}}
</ul>
