// Mail application stylesheet.

// Reset CSS
@import 'settings/reset'

// default styles
@import 'settings/default'

// Blocks
@import 'blocks/button'
@import 'blocks/form'
@import 'blocks/order-form'
@import 'blocks/order-list'
@import 'blocks/order-preview'
@import 'blocks/tabs-list'
