// Mail application stylesheet.

// Reset CSS
@import 'settings/reset'

// default styles
@import 'settings/default'

// Blocks
@import 'blocks/button'
@import 'blocks/order-list'
@import 'blocks/tabs-list'

// Forms
@import "forms/form"
@import "forms/order-form"
@import "forms/order-preview"
@import "forms/portion-form"
