// Main application stylesheet

// Reset CSS
@import 'settings/reset'

// default styles
@import 'settings/variables'
@import 'settings/default'

// etc
@import 'etc/buttons'
@import 'etc/i'
@import 'etc/helpers'
@import 'etc/svg'

// Sections
@import 'sections/s-content'
@import 'sections/s-header'
@import 'sections/s-sidebar'

// Blocks
@import 'blocks/order-list'
@import 'blocks/tabs-list'
@import 'blocks/portion-list'

// Forms
@import "forms/f-default"
@import "forms/f-order"
@import "forms/f-preview"
@import "forms/f-portion"
@import "forms/f-register"
@import "forms/f-login"
@import "forms/f-checkout"

// Menus
@import "menus/m-site"
