.checkbox
  cursor pointer

  &__control
    z-index -1
    opacity 0

  &__label
    font-weight 400

  &__text
    font-size 1.4rem
    position relative
    display inline-block
    width 14px
    height 14px
    background rgba(0,0,0,.2)
    border-radius 3px

    &:before
      position absolute
      top 1px
      right 1px
      left 1px
      bottom 1px
      margin auto 0
      border-radius 2px
      background #fff
      content ''

    &:hover
      background rgba(0,0,0,.3)

  &._checked
    .checkbox__text:after
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      width 14px
      height 14px
      margin auto 0
      color $bg-dark
      content '\2713'
      text-align center

    .checkbox__text:before
      background lighten($bg-action, 35)

    &:focus + .checkbox__text:before
      box-shadow 0 0 0 1px $bg-action,
                 inset 0 0 0 1px $bg-action

