.container
  padding 0 15px

.inner
  position: relative
  z-index: 2
  background: #ffffff
  height: 100%
  box-shadow -3px 0 12px -5px rgba(#000, 30)
  transition: transform 0.3s ease-out;

  &.open
    transform translateX(80px);
