.i-logo
  display: block
  position: absolute
  width: 100px
  line-height: 50px
  left: 0
  top: 0
  margin 0 auto
  right: 0
  text-decoration: none
  font-size: 1.6rem
  font-weight: 700
  color #fff
  z-index: 1


@media only screen and (min-width: 768px)
  .i-logo
    color #fff
