.selectize
  &-control
    &.single .selectize-input
      background transparent
      border: 0;
      padding: 0;
      box-shadow: none;
      margin-bottom: -3px;
      input
      .item
        width: 100% !important;
        display: block !important;
        padding: 0 10px !important;
        height: 3.6rem;
        font-size: 1.4rem;
        line-height: 3.6rem
        margin: 0 !important
        &::placeholder
          color rgba(#000,.33)
      &.input-active
        .item
          display: none !important
  &-dropdown
    border: 0;
    overflow: hidden
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    .active
      background rgba($bg-primary,.33)
