.svg-home
  fill $grD
  width 25px
  height 25px
  display block
  margin 0 auto 5px

.svg-logout
  fill $grD
  width 19px
  height 20px
  display block
  margin 0 auto 5px

.svg-list
  fill $grD
  width 25px
  height 25px
  display block
  margin 0 auto 5px

.svg-settings
.svg-vendors
  fill $grD
  width 25px
  height 25px
  display block
  margin 0 auto 5px
