.svg-home
.svg-list
.svg-settings
.svg-vendors
.svg-logout
  fill $grD
  width 25px
  height 25px
  display block
  margin 0 auto 5px

.svg-logout
  width 19px
  height 20px

.svg-open-lock
.svg-close-lock
  vertical-align: middle
  display: inline-block
  margin-left: 7px
  width: 24px
  height: 24px
  fill $bg-light
