.svg-home
  fill $gr
  width 25px
  height 25px
  display block
  margin 0 auto 5px

.svg-user
  fill $gr
  width 25px
  height 25px
  display block
  margin 0 auto 5px

.svg-list
  fill $gr
  width 25px
  height 25px
  display block
  margin 0 auto 5px
