.s-content
  padding-top 70px

  display flex
  justify-content center
  height 100vh
  align-items flex-start

  .login &
  .register &
    align-items center

  .container
    width 100%

    @media $min480
      max-width 480px
