.s-content
  padding-top 70px
  display flex
  justify-content center
  height 100vh
  align-items flex-start

  @media $max767
    padding-top 60px

  .login &
  .register &
    align-items center

  .container
    width 100%

    .orders &
    .order &
      position: relative

    @media $min480
      max-width 480px
