.pr-order
  text-decoration none
  display block
  padding 10px
  line-height 1.6

  &__row
    display flex
    justify-content space-between

  &__time
  &__place
    font-size $h2-font-size
    color $c-dark

  &__manager
  &__money
    font-size $h4-font-size
    color $c-dark
